#eclipse
/.project
/.autotools
/.cproject
RemoteSystemsTempFiles
Default
.metadata

#pictures
Car.bmp
Car_0.bmp

#visual studio
/.vs

#bash
test

#windows explorer
/Thumbs.db

#vs code (linux)
.vscode/
/blas_win64_MT.dll
/blas_win64_MT.lib
/lapack_win64_MT.dll
/lapack_win64_MT.lib
/Default/
/RemoteSystemsTempFiles/
/.settings/
/.gitignore
/Preference Configuration/
/Debug/
/mats/
/fu/
/x64/Debug
/EEE457.vcxproj.user
/EEE457.vcxproj.filters
/EEE457.vcxproj
/EEE457.sln
/EEE457.vcxproj.user
/EEE457.vcxproj.filters
/EEE457.vcxproj
/EEE457.sln
/EEE457-C.vcxproj.filters
/EEE457-C.vcxproj
/EEE457-C.sln
/EEE457-C.vcxproj.filters
*.filters
/EEE457-C.vcxproj
/EEE457-C.sln
/x64/Release
*.user
