#eclipse
/.project
/.autotools
/.cproject
RemoteSystemsTempFiles
Default
.metadata

#pictures
Car.bmp
Car_0.bmp

#visual studio
/.vs

#bash
test

#windows explorer
/Thumbs.db

#vs code (linux)
.vscode/
/blas_win64_MT.dll
/blas_win64_MT.lib
/lapack_win64_MT.dll
/lapack_win64_MT.lib
/Default/
/RemoteSystemsTempFiles/
/.settings/
/.gitignore
